---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/275210472538154/feed?access_token=CAAFCKzF75OsBAM2px6NvOPP31K4GkdjC4dUVnzDvoLVEVGo7gCeBOEZCc9dfRoTXHUZBnlIeTSCCdgSJZC1sIWoJIAQ27HbFpfwN1DdrBWlZBbingCBNnfentSQwe2JQZCmP4NsW1FgDN16S2GFXLAMRiqpPhgrWMEHyixTQbtjBjZA2o9jPSTZCrKn4ZBaGDQ0ZD&limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"c9b03e8e737f34e0140925ed447336d507630265"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"275210472538154_734232539969276","from":{"category":"Monarch","name":"Sebaslien
        Luxet","id":"275210472538154"},"story":"Sebaslien Luxet updated their cover
        photo.","story_tags":{"0":[{"id":"275210472538154","name":"Sebaslien Luxet","offset":0,"length":15,"type":"page"}]},"picture":"https:\/\/fbcdn-sphotos-e-a.akamaihd.net\/hphotos-ak-xaf1\/t1.0-9\/s130x130\/418258_313260488733152_755631539_n.jpg","link":"https:\/\/www.facebook.com\/Dimelo.Test\/photos\/a.313260482066486.75457.275210472538154\/313260488733152\/?type=1&relevant_count=1","icon":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yz\/r\/StEh3RhPvjk.gif","actions":[{"name":"Comment","link":"https:\/\/www.facebook.com\/275210472538154\/posts\/734232539969276"},{"name":"Like","link":"https:\/\/www.facebook.com\/275210472538154\/posts\/734232539969276"}],"privacy":{"value":""},"type":"photo","object_id":"313260488733152","created_time":"2014-05-23T04:48:03+0000","updated_time":"2014-05-23T04:48:03+0000"},{"id":"275210472538154_733903466668850","from":{"category":"Monarch","name":"Sebaslien
        Luxet","id":"275210472538154"},"message":"https:\/\/www.facebook.com\/Dimelo.Test","picture":"https:\/\/fbcdn-profile-a.akamaihd.net\/hprofile-ak-xaf1\/t1.0-1\/c204.44.552.552\/s200x200\/383848_275213475871187_157563664_n.jpg","link":"https:\/\/www.facebook.com\/Dimelo.Test","name":"Sebaslien
        Luxet","description":"Monarch","properties":[{"name":"Monarch","text":"0 like
        this"}],"icon":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yD\/r\/aS8ecmYRys0.gif","actions":[{"name":"Comment","link":"https:\/\/www.facebook.com\/275210472538154\/posts\/733903466668850"},{"name":"Like","link":"https:\/\/www.facebook.com\/275210472538154\/posts\/733903466668850"}],"privacy":{"description":"Public","value":"EVERYONE","friends":"","networks":"","allow":"","deny":""},"type":"link","status_type":"shared_story","created_time":"2014-05-22T18:43:40+0000","updated_time":"2014-05-22T18:43:40+0000"},{"id":"275210472538154_733897200002810","from":{"category":"Monarch","name":"Sebaslien
        Luxet","id":"275210472538154"},"message":"Always two there are","actions":[{"name":"Comment","link":"https:\/\/www.facebook.com\/275210472538154\/posts\/733897200002810"},{"name":"Like","link":"https:\/\/www.facebook.com\/275210472538154\/posts\/733897200002810"}],"privacy":{"description":"Public","value":"EVERYONE","friends":"","networks":"","allow":"","deny":""},"type":"status","status_type":"mobile_status_update","created_time":"2014-05-22T18:34:07+0000","updated_time":"2014-05-22T18:34:07+0000"},{"id":"275210472538154_733889416670255","from":{"category":"Monarch","name":"Sebaslien
        Luxet","id":"275210472538154"},"message":"Add a feed","actions":[{"name":"Comment","link":"https:\/\/www.facebook.com\/275210472538154\/posts\/733889416670255"},{"name":"Like","link":"https:\/\/www.facebook.com\/275210472538154\/posts\/733889416670255"}],"privacy":{"description":"Public","value":"EVERYONE","friends":"","networks":"","allow":"","deny":""},"type":"status","status_type":"mobile_status_update","created_time":"2014-05-22T18:21:18+0000","updated_time":"2014-05-22T18:21:18+0000"}],"paging":{"previous":"https:\/\/graph.facebook.com\/v1.0\/275210472538154\/feed?limit=10&access_token=CAAFCKzF75OsBAM2px6NvOPP31K4GkdjC4dUVnzDvoLVEVGo7gCeBOEZCc9dfRoTXHUZBnlIeTSCCdgSJZC1sIWoJIAQ27HbFpfwN1DdrBWlZBbingCBNnfentSQwe2JQZCmP4NsW1FgDN16S2GFXLAMRiqpPhgrWMEHyixTQbtjBjZA2o9jPSTZCrKn4ZBaGDQ0ZD&since=1400820483&__previous=1","next":"https:\/\/graph.facebook.com\/v1.0\/275210472538154\/feed?limit=10&access_token=CAAFCKzF75OsBAM2px6NvOPP31K4GkdjC4dUVnzDvoLVEVGo7gCeBOEZCc9dfRoTXHUZBnlIeTSCCdgSJZC1sIWoJIAQ27HbFpfwN1DdrBWlZBbingCBNnfentSQwe2JQZCmP4NsW1FgDN16S2GFXLAMRiqpPhgrWMEHyixTQbtjBjZA2o9jPSTZCrKn4ZBaGDQ0ZD&until=1400782877"}}'
  recorded_at: Fri, 23 May 2014 05:02:21 GMT
recorded_with: VCR 2.8.0
